.ch-img-1 { 
	background-image: url(../images/missionpl.png);}	
.ch-img-2 { 
	background-image: url(../images/timepl.png);}
.ch-img-3 { 
	background-image: url(../images/clearpl.png);}
.ch-img-4 { 
	background-image: url(../images/hintspl.png);}	
.ch-img-5 { 
	background-image: url(../images/statepl.png);}	
.ch-img-6 { 
	background-image: url(../images/prizespl.png);}	
.ch-img-7 { 
	background-image: url(../images/learnpl.png);}	
.ch-img-8 { 
	background-image: url(../images/immersepl.png);}
.schematy{
	background:url('../images/schemacikcpl.png') no-repeat;

}

@media only screen and (max-width : 320px) {
.schematy{
	margin-top:120px;
    margin-left:10px;
	margin-right:2px;}
}

@media only screen and (min-width : 320px){ 
.schematy{
	margin-top:120px;
	margin-left:15%;
	margin-bottom:20px;}
#section5 {
    height: 1000px;
    width: auto;
}
}

@media only screen and (min-width : 480px){
.schematy{
	margin-top:120px;
	margin-left:33%;
	margin-bottom:20px;
	height:900px
	}
#section5 {
    height: 1000px;
    width: auto;
}
}
@media only screen and (min-width : 640px) {
	.schematy{
	background:url('../images/schematcpl.png') no-repeat;
	background-size:96%;
	margin-left:2%;
	margin-top:120px;
	margin-bottom:10px;
}
	#section5 {
    height: 450px;
    width: auto;
}  
}

@media only screen and (min-width : 768px) {
.schematy{
	background:url('../images/schematcpl.png') no-repeat;
	background-size:96%;
	margin-left:2%;
	margin-bottom:10px;
   }	
#section5 {
    height: 550px;
    width: auto;
}   
} 	

@media only screen and (min-width : 992px) {
  .schematy{
		background:url('../images/schematcpl.png') no-repeat;
		background-size: 96%;
		margin-left:1%;
		margin-bottom:20px;
	}
	#section5 {
    height: 700px;
    width: auto;
}
}


@media only screen and (min-width : 1200px) {
	.schematy{
		background:url('../images/schematcpl.png') no-repeat;
		background-size: 96%;
		margin-left:1%;
		margin-bottom:20px;
	}
	#section5 {
    height: 740px;
    width: auto;
	}
}