body {
    position: relative; 
	color:black;
	font-family: 'Rajdhani', sans-serif;}
h1{
	text-align:center;
	text-transform:uppercase;
	font-size:90px;
	background-color:rgb(0,0,0);
	color:rgb(255,162,24);
	margin:20px auto 20px auto;	
	}
/*-----------Navigation--------------*/
.navbar{
	background-color:rgba(0,0,0,0.3);
	height:90px;
	border-bottom:1px solid rgb(255,255,255);	
	}
.navbar-nav {
    float:none;
    margin:15px auto;
    display: block;
    text-align: center;
    letter-spacing: 2.5px;
	}
.navbar-nav > li {
    display: inline-block;
    float:none;   
	text-transform:uppercase;
	}
.navbar .navbar-collapse {
    text-align: center;
	}
.navbar-inverse .navbar-nav > li > a {
	color: #f9a300;
	font-size:24px;	
	}
.navbar-inverse .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
	color: rgb(255,255,255);}														
.navbar-inverse .navbar-nav > li > a: hover {
	color: green;
	font-size: 20px;
	}
.navbar-inverse .navbar-nav > .active > a, .navbar-inverse .navbar-nav > .active > a:focus, .navbar-inverse .navbar-nav > .active > a:hover {
    color: #fff;
	background-color:transparent;
	}
.logonav{
	width:60px;
	margin-top:-20px;
	color:#dc7200;
	}
/*-----------Section 1-------------*/
#section1 {
	 background:url('../images/bg1.jpg');
     background-position: center center;
	 background-attachment: fixed;
	 background-size:cover;
	 height:700px;
	 }
#section1 h1 {
	font-size:140px;
	margin-top:260px;
	margin-left:90px;
	text-align:left;
	color:#dc7200;
	background-color:rgba(0,0,0,0.2);
	}
#section1 h1 span{	
	color:rgb(255,255,255);
	font-size:140px;
	}
hr {
	color: #dc7200;
	background-color: #dc7200;
	height: 1px;
	width: 90%;
	border-top: 1px;}
/*-----------Section 2-------------*/
#section2{
	background:url('../images/section2bg.jpg');
     background-position: center center;
	 background-size:cover;
	  background-attachment: fixed;}
#section2 h1 {
	border-top:1px solid rgb(255,162,24);
	}
.photo{
	max-width:90%;
	height:auto;
	margin-top:40px;
	}
.text{
	margin-top: 60px;
	background-color:rgba(255,255,255,0.7);
	}	
.text h2{
	font-family: 'Anton', sans-serif;
	text-align:center;
	font-size:32px;
	color:#000;
	margin-top:30px;
	}	
.text h3{
	text-align:center;
	font-size:22px;
	color:#000;
	margin-top:40px;
	margin-bottom:50px;
	}
/*-----------Section 3-------------*/
#section3{
	text-align:center;
	bsckground-color:rgba(0,0,0,0.8);
	text-transform:uppercase;
	}
#section3 h1 {
	margin-top:0;
	}
#section3 h2 {
	color:rgb(0,0,0);
	font-size:27px;
	}
.icon{
	width:180px;
	margin:30px auto;
	}
.subsection:hover{
	border:0.2px solid rgb(255,255,255);
	background-color:rgb(255,162,24);
	 -webkit-transition: all 0.7s;
    -moz-transition: all 0.7s;
    transition: all 0.7s;
	cursor:pointer;
	}
/*-----------Section 4-------------*/
#section4{
	background:url('../images/world.png');
    background-position: center center;
	background-size:cover;
	background-attachment: fixed;
	}
#section4 h2 {
	color: rgb(255,255,255);
	font-size: 60px;
	text-transform: uppercase;
	text-align: center;
	background-color: rgba(0,0,0,0.6);
	margin: 60px auto;
	}
#section4 h4 {
	text-align: center;
	color: rgb(0,0,0);
	font-size: 30px;
	width: 80%;
	margin: 60px auto;
	background-color: rgba(255,255,255,0.5);	
	}
/*-----------------------Section 5 how----------------------------*/
#section5{
	background:url('../images/bg4.jpg');
    background-position: center center;
	background-size:cover;
	}
#section5 h1 {
	background-color:rgb(0,0,0);
	} 

/*---------------CONTACT FORM--------------------------------*/
#contact{
    padding:10px 0 10px;
	}
 .contact-text{
    margin:45px auto;
	}
 .mail-message-area{
    width:100%;
    padding:0 15px;
	}
.mail-message{
    width: 100%;
    background:rgba(255,255,255, 0.8) !important;
    -webkit-transition: all 0.7s;
    -moz-transition: all 0.7s;
    transition: all 0.7s;
    margin:0 auto;
    border-radius: 0;
	}
.not-visible-message{
    height:0px;
    opacity: 0;
	}
.visible-message{
    height:auto;
    opacity: 1;
    margin:25px auto 0;
	}
/* Input Styles */
.form{
    width: 100%;
    padding: 15px;
    background:rgba(255,255,255,0.1);
    border:1px solid rgb(0, 0, 0);
    margin-bottom:25px;
    color:rgb(255,162,24) !important;
    font-size:18px;
    -webkit-transition: all 0.4s;
    -moz-transition: all 0.4s;
    transition: all 0.4s;
	}
.form:hover{
    border:3px solid rgb(11,37,60);
	}
.form:focus{
    color: white;
    outline: none;
    border:1px solid rgb(255,255,255);
	}
.textarea{
    height: 200px;
    max-height: 200px;
    max-width: 100%;
	}	
/* Generic Button Styles */
  .button{
    padding:8px 12px;
    background:pink;
    display: block;
    width:120px;
    margin:10px 0 0px 10px;
    border-radius:3px;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
    text-align:center;
    font-size:20px;
    box-shadow: 0px 1px 4px rgba(0,0,0, 0.10);
    -moz-box-shadow: 0px 1px 4px rgba(0,0,0, 0.10);
    -webkit-box-shadow: 0px 1px 4px rgba(0,0,0, 0.10);
	}
.button:hover{
    background:#8BC3A3;
    color:white;}
	
/* Send Button Styles */
.form-btn{
	  text-transform:uppercase;
    width:180px;
    display: block;
    height: auto;
    padding:15px;
    color:rgb(255,255,255);
    background:rgba(0,0,0,0.5);
    border-radius:3px;
    outline: none;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
    margin:auto;
    box-shadow: 0px 1px 4px rgba(0,0,0, 0.10);
    -moz-box-shadow: 0px 1px 4px rgba(0,0,0, 0.10);
    -webkit-box-shadow: 0px 1px 4px rgba(0,0,0, 0.10);
	margin-bottom: 30px;
	}
.form-btn:hover{
    background:rgba(255,255,255,0.3);
    color: white;
	}
.form-btn:active{
    opacity: 0.9;
	}
center{
  margin-top:330px;
	}
input {
    position: relative;
    z-index: 9999;
	}
/*-------------------------Footer---------------------------------*/
#section6{
	background-color:rgb(0,0,0);
	color:rgb(85,122,131);
	text-align:center;
	font-size:15px;
	}
/*---------------------Media Queries---------------------------*/
	
/* Small devices  */
@media (max-width: 460px) {
	.navbar{
	background-color:rgba(0,0,0,0.9);
	height:auto;
	border:none;	
	}
	.navbar-nav > li {
	text-align:center;
	margin:auto 80px ;
	}
	.logonav{
	width:50px;
	margin:auto;
	}
}
@media (max-width: 768px) {
	h1{
	font-size:70px;
	}
	#section1{
	height:auto;
	}
	#section1 h1 span {
	margin:100px auto 20px 10px;
    font-size: 60px;
	text-align:left;
	}
	#section1 h1 {
    font-size: 80px;
    margin:100px auto 20px 10px;
    text-align:center;
	}

}





